<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Customer Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/test.css}"/>
</head>
<body>

<h3> Customer Confirmation</h3>

The Customer is confirmed: <span th:text="${customer.firstName} + '  ' + ${customer.lastName}"/>
<br>
<br>

Free passes: <span th:text="${customer.freePasses}"/>
<br>
<br>

Post Code: <span th:text="${customer.postCode}"/>
<br>
<br>


</body>
</html>